 /* /* .spinner { 
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#030443);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}  */

.spinner{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50px;
    border: 1px solid black;
} 

/* .spinner{
    display: flex;
    flex-direction: column;
  }
  .custom-loader {
      margin: auto;
      width: 50px;
      height: 50px;
      display: grid;
      border:4px solid #0000;
      border-radius: 50%;
      border-right-color: black;
      animation: s5 1s infinite linear;
    }
    .custom-loader::before,
    .custom-loader::after {    
      content:"";
      grid-area: 1/1;
      margin:2px;
      border:inherit;
      border-radius: 50%;
      animation: s5 2s infinite;
    }
    .custom-loader::after {
      margin:8px;
      animation-duration: 3s;
    }
    
    @keyframes s5{ 
      100%{transform: rotate(1turn)}
    } */